In [2]:
import pandas as pd

# Baca file Excel
data = pd.read_excel("Automobile_data.xlsx")

# Tampilkan 5 baris pertama
data.head()

  symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0  3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
1  3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
2  1,?,alfa-romero,gas,std,two,hatchback,rwd,fron...
3  2,164,audi,gas,std,four,sedan,fwd,front,99.8,1...
4  2,164,audi,gas,std,four,sedan,4wd,front,99.4,1...

In [8]:
import pandas as pd

# Baca ulang file
data = pd.read_excel("Automobile_data.xlsx", header=1)


# Bersihkan nama kolom dari spasi kalau ada
data.columns = data.columns.str.strip()

# Pilih kolom penting
data = data[['horsepower', 'curb-weight']]

# Hilangkan baris kosong
data = data.dropna()

# Lihat ringkasan statistik
print(data.describe())

KeyError: "None of [Index(['horsepower', 'curb-weight'], dtype='object')] are in the [columns]"

In [9]:
print(type(data))
print(data.head())

<class 'pandas.core.frame.DataFrame'>
  symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0  3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
1  3,?,alfa-romero,gas,std,two,convertible,rwd,fr...
2  1,?,alfa-romero,gas,std,two,hatchback,rwd,fron...
3  2,164,audi,gas,std,four,sedan,fwd,front,99.8,1...
4  2,164,audi,gas,std,four,sedan,4wd,front,99.4,1...

In [4]:
import numpy as np

# Membership Function (bentuk segitiga)
def triangle(x, a, b, c):
    return np.maximum(0, np.minimum((x - a)/(b - a), (c - x)/(c - b)))

# Horsepower
def hp_rendah(x): return triangle(x, 40, 60, 100)
def hp_sedang(x): return triangle(x, 90, 120, 160)
def hp_tinggi(x): return triangle(x, 150, 200, 250)

# Berat
def berat_ringan(x): return triangle(x, 1500, 2000, 2500)
def berat_sedang(x): return triangle(x, 2400, 3000, 3600)
def berat_berat(x): return triangle(x, 3500, 4000, 4500)

In [8]:
mean_risk = data['risiko_crisp'].mean()
print(f"Rata-rata tingkat risiko: {mean_risk:.2f}")

insight = data['label'].value_counts()
print("\nDistribusi kategori risiko:")
print(insight)

Rata-rata tingkat risiko: 53.00

Distribusi kategori risiko:
label
Berisiko    41
Aman        32
Waspada     27
Name: count, dtype: int64